body {
    background-color: black;
    font-family: 'space mono', monospace;
    color: white;
}

h1 {
    width: 134px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 77px;
    margin-top: 50px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

.foot {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgb(26, 26, 26);
    margin-top: 75px;
}

a {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.contain {
    display: flex;
    align-items: center;
}

.contain>* {
    flex-wrap: wrap;
}

.text-contain {
    margin-left: 50px;
}

.scarecrow {
    width: 540px;
    height: 447px;
    margin-left: 77px;
    margin-top: 150px;
}

.bad-news {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.unavailable {
    font-family: 'Space Mono';
    width: 375px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.035em;
}

.back-btn {
    width: 216px;
    height: 68px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    background: #333333;
    color: white;
}

.back-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 1340px) {
    .bad-news {
        font-size: 55px;
    }

    .foot {
        text-align: center;
        margin-top: 320px;
    }
}

@media screen and (max-width: 1208px) {
    .bad-news {
        font-size: 45px;
    }
}

@media screen and (max-width: 1055px) {
    .contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-contain>* {
        text-align: center;
    }

    .bad-news {
        width: 450px;
        margin-bottom: -75px;
    }

    .foot {
        margin: 100px 0px 0px 50px;
    }

}

@media screen and (max-width: 700px) {
    .scarecrow {
        width: 450px;
        height: 324px;
        margin-left: 0;
    }

    .text-contain>* {
        margin-right: 40px;
    }

    .foot {
        margin: 100px 0px 0px 0px;
    }
}

@media screen and (max-width: 540px) {
    .scarecrow {
        width: 400px;
        height: 300px;
        margin-left: 70px;
    }

    .text-contain>* {
        margin-left: 70px;
    }
}


@media screen and (max-width:415px) {
    .scarecrow {
        width: 400px;
        height: 300px;
        margin-left: 125px;
    }

    .text-contain>* {
        margin-left: 125px;
    }

    .foot {
        margin: 75px 0px 0px 150px;
    }
}